In [1]:
print('santhosh')

santhosh

In [1]:
import pandas as pd

In [2]:
import numpy as np

In [4]:
df=pd.read_csv('netflix_era.csv')

In [26]:
df

,content_id,title,content_type,genre,release_year,country,language,watch_hours,rating,release_month,year,subscribers_million,revenue_billion_usd
0,1,Narcos S1,Web Series,Drama,2012,India,English,183910448,4.8,April,2023,127,25.77
1,2,Avengers Endgame (2018),Movie,Horror,2020,Spain,Hindi,199673598,4.1,February,2025,171,37.83
2,3,Game of Thrones S1,Web Series,Action,2022,Spain,Spanish,82927725,6.2,April,2018,103,18.91
3,4,City of Lies S1,Web Series,Action,2012,Germany,Japanese,74746058,3.8,June,2018,269,38.33
4,5,KGF Chapter 2 (2017),Movie,Thriller,2024,France,Telugu,199767853,5.4,August,2018,184,28.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Game of Thrones S1,Web Series,Action,2014,South Korea,Tamil,134511956,4.3,April,2020,259,11.43
9996,9997,Dark S1,Web Series,Thriller,2011,Spain,Japanese,175428293,4.2,September,2016,180,11.84
9997,9998,Cold Pursuit (2012),Movie,Sci-Fi,2008,South Korea,French,32504166,5.9,December,2024,257,24.06
9998,9999,Dark S3,Web Series,Thriller,2021,France,Hindi,110494606,8.4,October,2018,196,29.02
9999,10000,Shadow Protocol (2025),Movie,Action,2025,USA,German,49585245,4.5,June,2017,230,18.56

In [5]:
df2=pd.read_csv('netflix_subscribers.csv')

df2

In [6]:
df3=pd.read_csv('netflix_revenue.csv')

In [7]:
df3

    year  revenue_billion_usd
0   2007                 1.20
1   2008                 1.36
2   2009                 1.67
3   2010                 2.16
4   2011                 3.20
5   2012                 3.61
6   2013                 4.37
7   2014                 5.50
8   2015                 6.78
9   2016                 8.83
10  2017                11.69
11  2018                15.79
12  2019                20.15
13  2020                24.99
14  2021                29.70
15  2022                31.60
16  2023                33.70
17  2024                35.40
18  2025                36.20

In [8]:
df2

    year  subscribers_million
0   2007                  7.5
1   2008                  9.4
2   2009                 12.3
3   2010                 16.0
4   2011                 20.2
5   2012                 25.0
6   2013                 33.4
7   2014                 41.4
8   2015                 57.4
9   2016                 79.9
10  2017                 99.0
11  2018                124.3
12  2019                151.0
13  2020                182.9
14  2021                214.0
15  2022                230.7
16  2023                247.2
17  2024                257.9
18  2025                260.0

In [9]:
df.columns

Index(['content_id', 'title', 'content_type', 'genre', 'release_year',
       'country', 'language', 'watch_hours', 'rating', 'release_month', 'year',
       'subscribers_million', 'revenue_billion_usd'],
      dtype='object')

In [10]:
df.drop(columns=['subscribers_million','revenue_billion_usd'],inplace=True)

In [35]:
df

,content_id,title,content_type,genre,release_year,country,language,watch_hours,rating,release_month,year
0,1,Narcos S1,Web Series,Drama,2012,India,English,183910448,4.8,April,2023
1,2,Avengers Endgame (2018),Movie,Horror,2020,Spain,Hindi,199673598,4.1,February,2025
2,3,Game of Thrones S1,Web Series,Action,2022,Spain,Spanish,82927725,6.2,April,2018
3,4,City of Lies S1,Web Series,Action,2012,Germany,Japanese,74746058,3.8,June,2018
4,5,KGF Chapter 2 (2017),Movie,Thriller,2024,France,Telugu,199767853,5.4,August,2018
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Game of Thrones S1,Web Series,Action,2014,South Korea,Tamil,134511956,4.3,April,2020
9996,9997,Dark S1,Web Series,Thriller,2011,Spain,Japanese,175428293,4.2,September,2016
9997,9998,Cold Pursuit (2012),Movie,Sci-Fi,2008,South Korea,French,32504166,5.9,December,2024
9998,9999,Dark S3,Web Series,Thriller,2021,France,Hindi,110494606,8.4,October,2018
9999,10000,Shadow Protocol (2025),Movie,Action,2025,USA,German,49585245,4.5,June,2017

In [38]:
df.columns=df.columns.str.replace('_','f')

In [39]:
df

,contentfid,title,contentftype,genre,releasefyear,country,language,watchfhours,rating,releasefmonth,year
0,1,Narcos S1,Web Series,Drama,2012,India,English,183910448,4.8,April,2023
1,2,Avengers Endgame (2018),Movie,Horror,2020,Spain,Hindi,199673598,4.1,February,2025
2,3,Game of Thrones S1,Web Series,Action,2022,Spain,Spanish,82927725,6.2,April,2018
3,4,City of Lies S1,Web Series,Action,2012,Germany,Japanese,74746058,3.8,June,2018
4,5,KGF Chapter 2 (2017),Movie,Thriller,2024,France,Telugu,199767853,5.4,August,2018
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Game of Thrones S1,Web Series,Action,2014,South Korea,Tamil,134511956,4.3,April,2020
9996,9997,Dark S1,Web Series,Thriller,2011,Spain,Japanese,175428293,4.2,September,2016
9997,9998,Cold Pursuit (2012),Movie,Sci-Fi,2008,South Korea,French,32504166,5.9,December,2024
9998,9999,Dark S3,Web Series,Thriller,2021,France,Hindi,110494606,8.4,October,2018
9999,10000,Shadow Protocol (2025),Movie,Action,2025,USA,German,49585245,4.5,June,2017

In [40]:
df.columns=df.columns.str.replace('f','_')

In [41]:
df

,content_id,title,content_type,genre,release_year,country,language,watch_hours,rating,release_month,year
0,1,Narcos S1,Web Series,Drama,2012,India,English,183910448,4.8,April,2023
1,2,Avengers Endgame (2018),Movie,Horror,2020,Spain,Hindi,199673598,4.1,February,2025
2,3,Game of Thrones S1,Web Series,Action,2022,Spain,Spanish,82927725,6.2,April,2018
3,4,City of Lies S1,Web Series,Action,2012,Germany,Japanese,74746058,3.8,June,2018
4,5,KGF Chapter 2 (2017),Movie,Thriller,2024,France,Telugu,199767853,5.4,August,2018
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Game of Thrones S1,Web Series,Action,2014,South Korea,Tamil,134511956,4.3,April,2020
9996,9997,Dark S1,Web Series,Thriller,2011,Spain,Japanese,175428293,4.2,September,2016
9997,9998,Cold Pursuit (2012),Movie,Sci-Fi,2008,South Korea,French,32504166,5.9,December,2024
9998,9999,Dark S3,Web Series,Thriller,2021,France,Hindi,110494606,8.4,October,2018
9999,10000,Shadow Protocol (2025),Movie,Action,2025,USA,German,49585245,4.5,June,2017

In [42]:
df.columns=df.columns.str.title()

In [43]:
df

,Content_Id,Title,Content_Type,Genre,Release_Year,Country,Language,Watch_Hours,Rating,Release_Month,Year
0,1,Narcos S1,Web Series,Drama,2012,India,English,183910448,4.8,April,2023
1,2,Avengers Endgame (2018),Movie,Horror,2020,Spain,Hindi,199673598,4.1,February,2025
2,3,Game of Thrones S1,Web Series,Action,2022,Spain,Spanish,82927725,6.2,April,2018
3,4,City of Lies S1,Web Series,Action,2012,Germany,Japanese,74746058,3.8,June,2018
4,5,KGF Chapter 2 (2017),Movie,Thriller,2024,France,Telugu,199767853,5.4,August,2018
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Game of Thrones S1,Web Series,Action,2014,South Korea,Tamil,134511956,4.3,April,2020
9996,9997,Dark S1,Web Series,Thriller,2011,Spain,Japanese,175428293,4.2,September,2016
9997,9998,Cold Pursuit (2012),Movie,Sci-Fi,2008,South Korea,French,32504166,5.9,December,2024
9998,9999,Dark S3,Web Series,Thriller,2021,France,Hindi,110494606,8.4,October,2018
9999,10000,Shadow Protocol (2025),Movie,Action,2025,USA,German,49585245,4.5,June,2017

In [44]:
df.columns=df.columns.str.lower()

In [45]:
df

,content_id,title,content_type,genre,release_year,country,language,watch_hours,rating,release_month,year
0,1,Narcos S1,Web Series,Drama,2012,India,English,183910448,4.8,April,2023
1,2,Avengers Endgame (2018),Movie,Horror,2020,Spain,Hindi,199673598,4.1,February,2025
2,3,Game of Thrones S1,Web Series,Action,2022,Spain,Spanish,82927725,6.2,April,2018
3,4,City of Lies S1,Web Series,Action,2012,Germany,Japanese,74746058,3.8,June,2018
4,5,KGF Chapter 2 (2017),Movie,Thriller,2024,France,Telugu,199767853,5.4,August,2018
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Game of Thrones S1,Web Series,Action,2014,South Korea,Tamil,134511956,4.3,April,2020
9996,9997,Dark S1,Web Series,Thriller,2011,Spain,Japanese,175428293,4.2,September,2016
9997,9998,Cold Pursuit (2012),Movie,Sci-Fi,2008,South Korea,French,32504166,5.9,December,2024
9998,9999,Dark S3,Web Series,Thriller,2021,France,Hindi,110494606,8.4,October,2018
9999,10000,Shadow Protocol (2025),Movie,Action,2025,USA,German,49585245,4.5,June,2017

In [47]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp314-cp314-win_amd64.whl.metadata (9.8 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp314-cp314-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\chsan\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading sqlalchemy-2.0.45-cp314-cp314-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------  2.1/2.1 MB 11.4 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 8.3 MB/s  0:00:00
Downloading greenlet-3.3.0-cp314-cp314-win_amd64.whl (305 kB)
Installing collected packages: greenlet, sqlalchemy

   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.3.0 sqlalchemy-2.0.45
Note: you may need to restart the kernel to use updated packages.

In [51]:
pip install sqlalchemy pyodbc

Requirement already satisfied: sqlalchemy in c:\users\chsan\appdata\local\programs\python\python314\lib\site-packages (2.0.45)
Collecting pyodbc
  Downloading pyodbc-5.3.0-cp314-cp314-win_amd64.whl.metadata (2.8 kB)
Requirement already satisfied: greenlet>=1 in c:\users\chsan\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\chsan\appdata\local\programs\python\python314\lib\site-packages (from sqlalchemy) (4.15.0)
Downloading pyodbc-5.3.0-cp314-cp314-win_amd64.whl (72 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.3.0
Note: you may need to restart the kernel to use updated packages.

In [53]:
import sqlalchemy as sal
engine=sal.create_engine('mssql+pyodbc://SANTHOSH\\SQLEXPRESS/StudentsDB?driver=ODBC+Driver+17+for+SQL+Server')
conn=engine.connect()

In [56]:
df.to_sql('df_netflix_era.csv',con=conn,index=False,if_exists='replace')
df2.to_sql('df2_netflix_subscribers',con=conn,index=False,if_exists='replace')
df3.to_sql('df3_netflix_revenue',con=conn,index=False,if_exists='replace')

19

In [57]:
conn.close()

In [ ]:
df

In [59]:
df=pd.read_csv('netflix_era.csv')

In [60]:
df

,content_id,title,content_type,genre,release_year,country,language,watch_hours,rating,release_month,year,subscribers_million,revenue_billion_usd
0,1,Narcos S1,Web Series,Drama,2012,India,English,183910448,4.8,April,2023,127,25.77
1,2,Avengers Endgame (2018),Movie,Horror,2020,Spain,Hindi,199673598,4.1,February,2025,171,37.83
2,3,Game of Thrones S1,Web Series,Action,2022,Spain,Spanish,82927725,6.2,April,2018,103,18.91
3,4,City of Lies S1,Web Series,Action,2012,Germany,Japanese,74746058,3.8,June,2018,269,38.33
4,5,KGF Chapter 2 (2017),Movie,Thriller,2024,France,Telugu,199767853,5.4,August,2018,184,28.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,Game of Thrones S1,Web Series,Action,2014,South Korea,Tamil,134511956,4.3,April,2020,259,11.43
9996,9997,Dark S1,Web Series,Thriller,2011,Spain,Japanese,175428293,4.2,September,2016,180,11.84
9997,9998,Cold Pursuit (2012),Movie,Sci-Fi,2008,South Korea,French,32504166,5.9,December,2024,257,24.06
9998,9999,Dark S3,Web Series,Thriller,2021,France,Hindi,110494606,8.4,October,2018,196,29.02
9999,10000,Shadow Protocol (2025),Movie,Action,2025,USA,German,49585245,4.5,June,2017,230,18.56

In [13]:
import sqlalchemy as sal
engine=sal.create_engine
conn=engine.connect()

In [14]:
df.to_sql('df_netflix_era.csv',con=conn,index=False,if_exists='replace')
df2.to_sql('df2_netflix_subscribers',con=conn,index=False,if_exists='replace')
df3.to_sql('df3_netflix_revenue',con=conn,index=False,if_exists='replace')

19

In [15]:
df.to_sql('df_netflix_era',con=conn,index=False,if_exists='replace')
df2.to_sql('df2_netflix_subscribers',con=conn,index=False,if_exists='replace')
df3.to_sql('df3_netflix_revenue',con=conn,index=False,if_exists='replace')

19